@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',  sans-serif;
    color: rgb(0, 0, 0);
}

.form_button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #EA7111 0, #C00000 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.form_button:focus {
  box-shadow: #EA7111 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #C00000 0 -3px 0 inset;
}

.form_button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #C00000 0 -3px 0 inset;
  transform: translateY(-2px);
}

.form_button:active {
  box-shadow: #EA7111 0 3px 7px inset;
  transform: translateY(2px);
}

.lol {
    font-family: "JetBrains Mono",monospace;
}

.version {
  font-family: "JetBrains Mono",monospace;
  background-image: linear-gradient(45deg, #EA7111, #C00000);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}